<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
	span {
	color: red;
}
</style>
</head>
<body>
<div align="center">
    <h1>User Registration</h1>
	<form action="#" th:action="@{/addEmployee}" method="post" th:object="${employee}">
	<label>Employee Id:   </label>
        <input type="text" th:field="*{employeeId}" /><br/>
 		<span th:if="${#fields.hasErrors('employeeId')}" th:errors="*{employeeId}"></span><br>
 		
        <label>Name:      </label>
        <input type="text" th:field="*{name}" /><br/>
 		<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>
        
        <label>Designation</label>
        <input type="text" th:field="*{designation}" /><br/>
 		<span th:if="${#fields.hasErrors('designation')}" th:errors="*{designation}"></span><br>
 		
 		
        <label>Salary     </label>
        <input type="text" th:field="*{salary}" /><br/>
        <span th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></span><br>
        
 		<br><br>
        <button type="submit">Register</button>   

</form>
</body>
</html>