<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Employee List</h1>
<table>
<tr th:each="employee: ${empList}"> 
<td th:text="${employee.employeeId}" /> 
<td th:text="${employee.name}" />
<td th:text="${employee.designation}" />
<td th:text="${employee.salary}" />
<td><a th:href="@{/edit/{id}(id=${employee.employeeId})}">Edit</a>/<a th:href="@{/deleteEmployee/{id}(id=${employee.employeeId})}" >Delete</a></td> 
</tr>

</table>

</body>
</html>